  </div>
  <!-- /#wrapper -->
  <footer class="footer">
    <div class="container">
      <p class="pull-left">Copyright © 2014 Sogou.</p>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Core JS -->
  <!-- Bring in the socket.io client -->
  <script type="text/javascript" src="/vendor/socket.io.js"></script>
  <script type="text/javascript" src="/vendor/echarts-plain-map.js"></script>
  <!-- Plugin JS -->

  <!-- App JS -->
  <script src="/build/build.js"></script>
  <script src="/ace-builds/ace.js" type="text/javascript" charset="utf-8"></script>
  <script>
  require("boot");
  //TODO use jsload to load the constant,just for client mocker install
  window.openmocker = <%=openmocker%>;
  window.mocker_server_host = "<%=mocker_server_host%>";
  window.mocker_server_port = "<%=mocker_server_port%>";
  window.mocker_server_prefix = "<%=mocker_server_prefix%>";
  window.mocker_project_id = "<%=mocker_project_id%>";
  </script>
  <script src="/vendor/mvpready-core.js"></script>
  <script src="/vendor/mvpready-admin.js"></script>
</body>
</html>
