<% include header %>

<div class="col-md-2 subnav-left">
  <h3>编辑接口</h3>
</div>


<div class="content">
  <div class="container">
    <div class="job">
      <div class="col-md-10 layout-main">
        <form class="form-horizontal" action="/mock/doEdit" method="post">
        <input type="hidden" name="id" value="<%=detail.id%>" />

        <div class="form-group">
            <label class="col-md-2 control-label">所属项目</label>
            <div class="col-md-5 ui-form-item">
              <select name="project_id">
                <option value="1">mars</option>
              </select>

            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">接口URL</label>
            <div class="col-md-5 ui-form-item">
              <input class="form-control" name="url" value="<%=detail.url%>" placeholder="请输入接口URL">
            </div>
            <div class="col-md-3">
              <span class="form-group-tip">*必填, <=100字符</span>
            </div>
          </div>

          <div class="form-group" >
            <label class="col-md-2 control-label">输入参数</label>
            <div class="col-md-5 ui-form-item" id="textarea-para-json">
              <textarea class="form-control" rows="8" name="para_json" id="job_desc" placeholder="请输入‘输入参数’"><%=detail.para_json%></textarea>
            </div>
            <div class="col-md-3">
              <span class="form-group-tip">*必填, <=10000字符</span>
            </div>
          </div>

          <div class="form-group" >
            <label class="col-md-2 control-label">
            输出数据

            </label>
            <div class="col-md-5 ui-form-item" id="textarea-mock-json">
              <textarea class="form-control" rows="8" name="mock_json" id="mock_json" placeholder="请输入‘输出数据’"><%=detail.mock_json%></textarea>
            </div>
            <div class="col-md-3">
            <button id='jsonCheck' type="button" class="ok btn btn-secondary">json格式验证</button>
            <div id="mockjson"></div>
              <span class="form-group-tip">*必填, <=10000字符</span>
            </div>
          </div>

          <div class="form-group" >
            <label class="col-md-2 control-label">备注</label>
            <div class="col-md-5 ui-form-item" id="textarea-remark">
              <textarea class="form-control" rows="4" name="remark"  placeholder="请输入‘备注’"><%=detail.remark%></textarea>
            </div>
            <div class="col-md-3">
              <span class="form-group-tip">*必填, <=1000字符</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">是否启动mock</label>
            <div class="col-md-5 ui-form-item">
              <select name="is_mock">
                <option value="1" <%if (detail.is_mock == 1){%>selected<%}%> >是</option>
                <option value="0" <%if (detail.is_mock == 0){%>selected<%}%>>否</option>
              </select>

            </div>
          </div>


          <div class="form-group">
            <div class="col-md-3 col-md-push-2">
              <button id='btn-submit' type="submit" class="ok btn btn-secondary">提 交</button>&nbsp;&nbsp;
              <button type="reset" class="cancel btn btn-default">取 消</button>
            </div>
          </div>



        </form>
      </div>
    </div>
  </div>
</div>


 <% include footer %>
